/*
  Style sheet for CS290 Assignment 2 by Scott Milton
*/

/* table styles */

table {
  border: 1px solid black;
  empty-cells: show;
}

table th, table td {
  border: 1px solid black;
}

/* first column of the table */
table tbody th {
  font-style: italic;
  font-weight: normal;
}

/* first non-header cell of each non-header row */
table tbody th + td {
  color: red;
}

/* third non-header cell of each non-header row */
table tbody td:nth-child(4) {
  color: blue;
}

/* Odd non-header/footer rows */
/* I found help here: http://www.w3.org/Style/Examples/007/evenodd.en.html */
table tbody tr:nth-child(odd) {
  background: #CF9; /* light green */
}

/* Even non-header/footer rows */
table tbody tr:nth-child(even) {
  background: #9CF; /* light blue */
}


/*dl list styles */

/* When hovering over dt entry, its dd item gets a purple background */
/* I found help here: http://www.w3.org/Style/Examples/007/evenodd.en.html */
dl dt:hover + dd {
  background: purple;
}


/* div styles */

.outer-content {
  background: pink;
  margin: 20px;
  width: 75%;
}

.inner-content {
  background: blue;
  margin: 0 auto 0 auto;
  text-align: center;
  width: 75%;
}


/* image styles */
img {
  height: 125px;
  float: left;
  width: 100px;
}